@charset "utf-8";
@use "sass:color";

// Define defaults for each variable.

$base-font-family: serif !default;
$base-font-size:   1em !default;
$base-font-weight: normal !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:            #006020 !default;
$background-color:      #d8e0d0 !default;
$background-color-dark: #c8d4c0 !default;
$brand-color:           #c87000 !default;
$brand-color-light:     #ffa000 !default;

$grey-color:       #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%, $space: hsl) !default;
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%, $space: hsl) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
